a {
  text-decoration: none;
  color: black;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  // outline: solid 0.3px black !important;
}

body {
  margin: 0;
  background-color: #fafafa;
  // font-weight: 500;
  font-family: $font-family-base;
}
.container {
  margin: 0 auto;
  max-width: 67.5%;
}
img {
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
