//-------------------------margin-bottom-------------------------
.mb-64 {
  margin-bottom: 64px;
}

.mb-48 {
  margin-bottom: 48px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-24 {
  margin-bottom: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}
.mb-12 {
  margin-bottom: 12px;
}

.mb-8 {
  margin-bottom: 8px;
}
//----------------------------radius----------------------------
.radius-sm {
  border-radius: $radius-sm;
}
.radius-md {
  border-radius: $radius-md;
}

.radius-rounded {
  border-radius: $radius-rounded;
}
//----------------------------link----------------------------
.icon-primary {
  color: $primary-400;
  text-decoration: underline;
  text-underline-offset: 5px;

  &:hover {
    color: $primary-500;
  }

  &:focus {
    color: $primary-500;
    text-decoration-thickness: 2px;
  }

  &:disabled {
    color: $primary-200;
  }
}

.icon-neutral {
  color: $neutral-800;

  &:hover {
    color: $neutral-600;
  }

  &:focus {
    color: $neutral-900;
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  &:disabled {
    color: $neutral-500;
  }
}

//----------------------------button----------------------------
.pure-button-fill-primary {
  color: #000;
  background-color: $primary-300;
  padding: 12px 24px;
  border-radius: $radius-sm;
  &:hover,
  &:focus {
    background-color: $primary-300;
    color: $primary-500;
  }

  &:disabled {
    color: $neutral-500;
    background-color: $primary-200;
  }
}
.pure-button-fill-neutral {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $neutral-0;
  background-color: $neutral-900;
  padding: 12px 24px;
  border-radius: $radius-sm;
  &:hover,
  &:focus {
    color: $neutral-0;
    background-color: $neutral-700;
  }
  &:focus {
    border: 1px solid $neutral-500;
  }

  &:disabled {
    color: $neutral-0;
    background-color: $neutral-300;
  }
}

.pure-button-outline-neutral {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $neutral-900;
  background-color: $neutral-0;
  border: 1px solid;
  padding: 12px 24px;
  border-radius: $radius-sm;
  &:hover,
  &:focus {
    color: $neutral-0;
    background-color: $neutral-900;
  }
  &:focus {
    border: 1px solid $neutral-900;
  }

  &:disabled {
    color: $neutral-0;
    background-color: $neutral-300;
  }
}

.pure-button-large {
  width: 48px;
}
.pure-button-small {
  width: 40px;
}

.icon-badge {
  width: 24px;
  height: 24px;
  padding: 4px;
  color: $neutral-900;
  // position: relative;

  &:hover {
    color: $primary-400;
  }
  &:focus {
    background-color: $primary-200;
  }
  &:disabled {
    color: $neutral-500;
    cursor: not-allowed;
  }

  // .badge-count {
  //   position: absolute;
  //   top: 2px;
  //   right: 2px;
  //   background-color: $primary-300;
  //   color: $primary-500;
  //   font-size: 10px;
  //   padding: 0 4px;
  //   min-width: 16px;
  //   height: 16px;
  //   line-height: 16px;
  //   text-align: center;
  //   border-radius: 8px;
  //   font-weight: bold;
  // }
}

.icon-badge-outline {
  width: 24px;
  height: 24px;
  padding: 4px;
  color: $neutral-900;
  border: $neutral-200;
  position: relative;
  &:hover {
    background-color: $primary-200;
    color: $neutral-500;
    border: $neutral-300;
  }
  &:focus {
    background-color: $primary-200;
    color: $neutral-900;
    border: $primary-300;
  }
  &:disabled {
    color: $neutral-500;
    cursor: not-allowed;
  }
  .badge-count {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: $primary-300;
    color: $primary-500;
    font-size: 10px;
    padding: 0 4px;
    min-width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
  }
}
//----------------------------pagination-------------------------
.pagination {
  display: flex;
  justify-content: center;
}
.pagination-list {
  display: flex;
  gap: 8px;
}
.pagination-item {
  padding: 8px;
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
  text-align: center;
  // border-radius: $radius-sm;
  a {
    color: $neutral-900;
    font-size: 20px;
    &.disabled {
      color: $neutral-300;
      cursor: not-allowed;
    }
  }

  &.selected {
    background-color: $primary-300;
  }

  &:hover {
    background-color: $neutral-100;
  }
}
//----------------------------option-------------------------
//color-options-wrap---------------------------------------

.color-options-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
}
.color-option {
  display: flex;
  flex-direction: column;
  width: 64px;
  height: 92px;
}

.color-option input[type="radio"] {
  display: none;
}

.color-option input[type="radio"] {
  &:checked + img + span {
    color: #000;
  }
  &:checked + img {
    border: 1px solid #000;
    // box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  }
}

.color-name {
  color: $neutral-600;
  display: block;
  text-align: center;
}

//size-options-wrap-------------------------------
.size-options-wrap {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: flex-start;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.size-option {
  padding: 12px 24px;
  border: 1px solid $neutral-300;
  border-radius: $radius-sm;
  color: $neutral-900;
  cursor: pointer;
}

.size-option input[type="radio"] {
  display: none;
}

.size-option:hover {
  border: 1px solid $neutral-600;
}
.size-option:has(input[type="radio"]:checked) {
  border: 1px solid $neutral-900;
}

.size-option:has(input[type="radio"]:disabled) {
  cursor: not-allowed;
  border: 1px solid $neutral-300;
}
.size-option input[type="radio"]:disabled + span {
  color: $neutral-300;
}
