//---layout---------

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center; /* 垂直置中 */
}

//---layout---------

.nav-list {
  display: flex;
  align-items: center;
  flex-direction: row; // 明確設定由左到右
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 32px;
}
.nav-item {
  padding-top: 16px;
  height: 49px;
  margin-right: 48px;
}

.logo a {
  display: block;
  width: 129px;
  height: 49px;
  background-image: url("../images/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.message-section {
  margin-top: 48px;
  background-color: $primary-200;
  padding: 24px 0;
}

.message-content {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.footer-about {
  background-color: $neutral-100;
  padding: 64px 0;
}
.footer-text p {
  color: $neutral-600;
  font-weight: 300;
  text-align: center;
}
.footer-products {
  background-color: $neutral-100;
  padding: 24px 0;
}

@media screen and (max-width: 375px) {
  /*nav-list*/
  .nav-list .nav-item:nth-child(2),
  .nav-list .nav-item:nth-child(3) {
    display: none;
  }
  /*message*/
  .message-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; /* 不換行 */
    overflow-x: hidden; /* 強制不出現水平滾動 */
  }

  .message-content .h5 {
    font-size: 15px;
    white-space: nowrap; /* 單行 */
    flex-shrink: 1; /* 空間不足時縮小 */
    min-width: 0; /* flex-shrink 生效必須 */
  }

  .pure-button-fill-neutral {
    font-size: 12px;
    padding: 8px 12px;
    white-space: nowrap; /* 單行 */
    flex-shrink: 1; /* 空間不足時縮小 */
    min-width: 0; /* flex-shrink 生效 */
  }

  /*footer*/
  .footer-products .nav-list .nav-item {
    display: block; /* 不被隱藏 */
  }

  .footer-products {
    nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .nav-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }
    .logo a {
      display: block; /* 讓 span 變成區塊，才好控制 */
      padding-left: 0;
      margin-left: -15px;
    }
    .footer-text {
      width: 100%;
      border-top: 1px solid $neutral-300;
    }
  }
}
